.contenedor{
    display: grid;
    grid-template-columns: 799px 799px;
    grid-template-rows: 200px 500px 100px ;
    grid-template-areas: 
    'h1 h1'
    'h2 h3 '
    'h4 h4 '
    
    ;

}
header{
    background-color: aqua;
    grid-area: h1;
}
.h2{
    background-color: aquamarine;
    grid-area: h2 ;
    align-content: center;

}
.h3{
    background-color: blueviolet;
    grid-area: h3;

}
footer{
    background-color: brown;
    grid-area: h4;
}
.img{
    width: 350px;
    height: 450px;
   

}
